.git
.gitignore
.env
.env.*
!.env.example
bin
tmp
dist
build
node_modules
frontend/**/node_modules
frontend/**/dist
frontend/**/build
*.log
*.pid
*.test
*.out
coverage.out
.DS_Store
Thumbs.db
.idea
.vscode
